div{
    width: 100vw;
    height: 120.32px;
    background-color : red; 
}
.bola{
    width: 210px;
    height: 210px;
    position: absolute;
    top: -10px;
    z-index: 0;
}
.container{
display: flex ;
align-items: flex-start;
flex-direction: column;
justify-content: flex-start;

    width: 100vw;
    height: 120.32px;
}
*{
    border:0;
    margin: 0;
    padding: 0;
}
.back{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}