.retangle{
    position: absolute;
width: 100vw;
height: 120.32px;

background: #FF0800;
}

*{
    margin: 0;
    border: 0;
}

.bola{
    position: absolute;
width: 232.93px;
height: 232.93px;
left: -21px;
top: -71px;

background: #FFFFFF;
}
.container{
    height: 232.93px;
    width: 100vw;
}
.container .retangle{
    position: absolute;
}
